.hero {
  height: 75vh;
}
/* .recommendation img {
  width: 25%;
} */
/*
.flex-container {
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.background-images {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
.background-images img {
  vertical-align: top;
  width: 33vw;
  padding: 0;
  margin: 0;
} */
