.hero {
  height: 90vh;
}

.text-center {
  text-align: center;
}

.movie-info {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 15px;
  margin-left: 5%;
  margin-right: 30px;
  margin-top: 5px;
  border-radius: 5px;
}

.detail-hero {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: 50% 0%;
}

.detail-hero-container {
  width: 100%;
  overflow: hidden;
}

.similar-bar {
  width: 100%;
  text-align: center;
}
.similar-scroller {
  height: 150px;
  width: 100vw;
  transition: 200ms;
}
.similar-thumbnail {
  height: 100%;
  width: 100px;
  background-size: cover;
  font-size: 0.9em;
  text-align: center;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

.similar-thumbnail:hover {
  transform: scale(1.2);
}

.trailer {
  transition: all 500ms;
  background: linear-gradient(to right, transparent, rgba(48, 48, 48, 0.85));
  width: 5%;
  height: 500px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.home-video {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 56vw;
  top: -3px;
}
.home-video-static {
  background-image: url("http://image.tmdb.org/t/p/w780/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg");
  background-size: cover;
}
.overlay {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 56vw;
  width: 100vw;
  z-index: 2;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7) 70%,
    rgba(48, 48, 48, 1)
  );
}

h1 {
  margin: 0;
}
iframe {
  margin-left: 25px;
  width: 100vw;
  height: 500px;
}

.arrow {
  font-size: 50px !important;
  margin: auto 30px auto 0;
}

/* .recommendation img {
  width: 25%;
} */
/*
.flex-container {
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.background-images {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
.background-images img {
  vertical-align: top;
  width: 33vw;
  padding: 0;
  margin: 0;
} */
