.movie-info {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 15px;
  margin-left: 5%;
  margin-right: 30px;
  margin-top: 5px;
  border-radius: 5px;
}

.detail-hero {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: 50% 0%;
}

.detail-hero-container {
  width: 100%;
  overflow: hidden;
}

.similar-bar {
  width: 100%;
  text-align: center;
}
.similar-scroller {
  height: 150px;
  width: 100vw;
  transition: 200ms;
}
.similar-thumbnail {
  height: 100%;
  width: 100px;
  background-size: cover;
  font-size: 0.9em;
  text-align: center;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

.similar-thumbnail:hover {
  transform: scale(1.2);
}

.trailer {
  transition: all 500ms;
  background: linear-gradient(to right, transparent, rgba(48, 48, 48, 0.85));
  width: 5%;
  height: 500px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.home-video {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 56vw;
  top: -3px;
}
.home-video-static {
  background-image: url("http://image.tmdb.org/t/p/w780/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg");
  background-size: cover;
}
footer {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 56vw;
  width: 100vw;
  z-index: 2;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7) 70%,
    rgba(48, 48, 48, 1)
  );
}

.static {
  height: 75vh;
}

h1 {
  margin: 0;
}
iframe {
  margin-left: 25px;
  width: 100vw;
  height: 500px;
}

.arrow {
  font-size: 50px !important;
  margin: auto 30px auto 0;
}

.ng-leave,
.ng-move {
  transition: all 0.5s;
  opacity: 1;
}

.ng-enter {
  transition: all 0.5s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave-active,
.ng-move-active {
  opacity: 0;
  max-height: 0;
}

.ng-hide {
  opacity: 0;
  max-height: 10px;
}

.ng-hide-add,
.ng-hide-remove {
  transition: all linear 0.5s;
}

recommendation-card {
  opacity: 1;
  max-height: 900px;
}
.uiview {
  min-height: 100vh;
}
