<div style="text-align: center">
    <h1>Tell us what you like.</h1>

</div>

<div layout="row" layout-align="space-around start" layout-margin>
    <div hide-xs layout="column" layout-align="space-around" id="disliked" flex="25" style="text-align: center">
        <h2>Disliked</h2>
        <recommendation-card hide-xs class="animate-repeat" ng-repeat=" movie in disliked track by $index " index="$index " movie="movie "
            show-actions=" "></recommendation-card>
    </div>
    <div style="position: relative" layout="row" layout-align="space-around" layout-wrap id="recommendation-container" flex="50"
        flex-xs="90">
        <recommendation-card ng-show="$index===0" ng-repeat="movie in random track by movie.id " index="$index
            " movie="movie " genres="genres" show-actions="showActions " action="cardAction(choice, movie) ">
        </recommendation-card>
        <md-card ng-hide="random.length">
            <md-card-title>
                <md-card-title-text>
                    <div class="md-headline">Ready for your recommendations?</div>
                    <md-button ng-click="recommend()">Recommend</md-button>
                    <!-- <md-button ng-click="action({choice: 'personalize'})">Keep personalizing.</md-button> -->
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>

    <div hide-xs layout="column" layout-align="space-around" id="disliked" flex="25" style="text-align: center">
        <h2>Liked</h2>
        <recommendation-card hide-xs ng-repeat="movie in liked track by movie.id" index="$index " movie="movie
        " show-actions=" "></recommendation-card>

    </div>
</div>