<div class="hero" layout="column" layout-align="space-between">
    <div>
        <h1>I want to watch a movie.</h1>
        <h2>Find one.
            <md-button ui-sref="personalize">Personalize it.</md-button>
        </h2>
    </div>
    <div class="text-center">
        <h2>Most Popular</h2>
        <md-button class="md-fab" ng-click="scrollToRecommendations()">
            <md-icon>&#xE313;</md-icon>
        </md-button>
    </div>
</div>
<div layout="row" layout-align="space-around" layout-wrap id="recommendation-container">
    <recommendation-card ng-repeat="movie in popular" movie="movie" flex="30" flex-sm="40" flex-xs="80"></recommendation-card>
    <!-- <md-card ng-repeat="movie in popular" flex="30" flex-sm="40" flex-xs="80">
        <img class="md-card-image" ng-src="{{imageBaseUrl + imageSize + movie.backdrop_path}}" alt="">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{movie.title}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card> -->
</div>