<md-card>
    <img class="md-card-image" ng-src="{{imageBaseUrl + imageSize + (movie.backdrop_path || movie.poster_path)}}" alt="">
    <md-card-title>
        <md-card-title-text>
            <div class="md-headline">{{movie.title}}</div>
            <span ui-sref="detail({id: movie.id})" class="md-subhead" style="cursor: pointer; padding: 0;">(go to details)</span>
            <span class="md-subhead" ng-show="movie.recommendation" style="padding: 0">because you liked: {{movie.likedGenre}}</span>
            <span></span>
            <div layout="column" ng-show="movie.dummy">
                <md-button ng-click="action({choice: 'recommend'})">Recommend</md-button>
                <md-button ng-click="action({choice: 'personalize'})">Keep personalizing.</md-button>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="space-between center" ng-show="showActions">
        <md-button class="md-warn" style="width: 100%" ng-click="action({choice: 'no', movieId: index})">
            <md-icon>
                &#xE8DB;
            </md-icon>
        </md-button>
        <md-button class="md-accent" style="width: 100%" ng-click="action({choice: 'yes', movieId: index})">
            <md-icon>
                &#xE8DC;
            </md-icon>
        </md-button>
    </md-card-actions>
</md-card>